/* Styl dla całego dokumentu */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Dodanie grafiki tła */
    background-image: url('images/tlo.png');
    background-size: cover; /* Dopasowanie tła do wielkości okna */
    background-position: center;
    background-attachment: fixed; /* Tło zostaje na miejscu przy przewijaniu strony */
}

/* Pole na tekst w jednolitym kolorze na warstwie wyżej */
.container {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8); /* Półprzezroczysty biały kolor */
    padding: 20px;
    border-radius: 10px; /* Zaokrąglenie rogów pola */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodanie delikatnego cienia */
    position: relative;
    top: 50px;
}

/* Nagłówek i nawigacja */
header {
    background-color: rgba(76, 175, 80, 0.9); /* Półprzezroczysty zielony kolor */
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Nawigacja */
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.formatted-text {
    font-size: 18px;
    line-height: 1.6;
}

/* Obraz w tle wypełnia całe pole */
img {
    max-width: 100%;
    height: auto;
}

.profile-img {
    float: left; /* Obrazek pływa z lewej strony tekstu */
    margin: 0 15px 15px 0; /* Margines wokół obrazka */
    width: 245px; /* Szerokość obrazka */
    height: auto; /* Automatyczne dostosowanie wysokości */
    border-radius: 10px; /* Zaokrąglenie rogów obrazka */
}

.profile-img2 {
    float: right;/* Obrazek pływa z lewej strony tekstu */
    margin: 0 15px 15px 0; /* Margines wokół obrazka */
    width: 245px; /* Szerokość obrazka */
    height: auto; /* Automatyczne dostosowanie wysokości */
    border-radius: 10px; /* Zaokrąglenie rogów obrazka */
}

.centered {
    text-align: center;
}