body {
			background: url('images/tlo.png') no-repeat center center/cover;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 90%; /* Poszerzone okno tekstu */
            margin: auto;
            overflow: hidden;
        }
        header {
            color: #fff;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #77aaff 3px solid;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
       
        header nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        header nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
            padding: 5px 10px;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        header nav a:hover {
            background-color: rgba(119, 170, 255, 0.5);
        }
        .content {
            padding: 20px;
            background: #fff;
            margin-top: 10px;
        }
        .content h2 {
            color: #333;
        }
        .content p {
            line-height: 1.6;
        }
        .content img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 10px auto;
        }
        .content .caption {
            text-align: center;
            font-style: italic;
            color: #666;
            margin-top: -10px;
        }
        .navigation-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .navigation-buttons a {
            background-color: #77aaff;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .navigation-buttons a:hover {
            background-color: #5599dd;
        }
        footer {
            background: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;
            clear: both;
        }